<p id="notice"><%= notice %></p>

<h1>Dependecies</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependecies.each do |dependecy| %>
      <tr>
        <td><%= dependecy.nombre %></td>
        <td><%= dependecy.descripcion %></td>
        <td><%= link_to 'Show', dependecy %></td>
        <td><%= link_to 'Edit', edit_dependecy_path(dependecy) %></td>
        <td><%= link_to 'Destroy', dependecy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependecy', new_dependecy_path %>
