<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @dependecy.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @dependecy.descripcion %>
</p>

<%= link_to 'Edit', edit_dependecy_path(@dependecy) %> |
<%= link_to 'Back', dependecies_path %>
