            <!--Cabecera intro-->
            
               <!--Servicios Destacados-->
        <div class="container">
            
               <div class="holder_content">
               
        
                <section>
                 <ul>
                    <li>
                      <button class="btn-lg btn-default">
                      <%= link_to "Solicitar PQRS",new_request_path %>
                      </button>
                      
                      <button class="btn-lg btn-default">
                      <%= link_to "Consultar PRQS"," " %>
                       </button>
                    </li>
                  
                </ul>
            	</section>
           
               </div>
            
        </div>
               <!--end holder-->
