<div id="intro">
      
   		<div class="group_bannner_right">
   			<%= image_tag "slide.jpg", :size=>"550x316", :alt=>" " %>
   		</div>	
           
   		<header class="group_bannner_left">
   			<hgroup>
   				<h1>Empresa ABC</h1>
   				<h2>Santa marta - Magdalena</h2>
   			</hgroup>
   		</header>
   		</div>

   </div>
    
