<div id="intro">
								
	<header class="group_bannner_left">
							   				<ul class="list-group">
								  			  <li class="list-group-item"><%= link_to 'Roles', roles_path %></li>
											  <li class="list-group-item"><%= link_to 'Permisos', permissions_path %></li> 
											  <li class="list-group-item"><%= link_to 'Empleados', usuarios_path %></li> 
											  <li class="list-group-item"><%= link_to 'Solicitudes de PQRS', requests_path %></li> 
											</ul> 
							   		
							   		</header>
						   		</div>