<div = "container"	>	<!-- Logo -->
	 <%=link_to (image_tag "logo.png", :size=>"120x100", :alt=>"logo") %>

		<nav>
    		<ul>

    			<li><%= link_to "Inicio",  root_path %></li>
    			<li><%= link_to "¿Quiénes Somos?", " " %></li>
				<% if user_signed_in? %>
		            <li class="col-md">
		              <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>
		            </li>
		         <%else%>
				  	<li><%= link_to "Iniciar Sesion", user_session_path %></li>
		         <%end%>


    		</ul>
    	<!-- Final Navegacion -->
    	</nav>
			
		

