<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @state.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @state.descripcion %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
