
<% if user_signed_in? %>

		<% @usuarios.each do |usuario| %>
		      <% if usuario.user.email == current_user.email %>
			      	<% if usuario.role.nombre == 'Director' %>
			      		<h2>Bienvenido <%= usuario.role.nombre%></h2>
			      	<%elsif usuario.role.nombre == 'Jefe Juridico' %>
						<h2>Bienvenido <%= usuario.role.nombre%></h2>
					<%elsif usuario.role.nombre == 'Jefe Financiero' %>
						<h2>Bienvenido <%= usuario.role.nombre%></h2>
					<%elsif usuario.role.nombre == 'Jefe Administrativo' %>
						<h2>Bienvenido <%= usuario.role.nombre%></h2>		
					<%elsif usuario.role.nombre == 'Esclavo' %>
						<h2>Bienvenido <%= usuario.role.nombre%></h2>
					<%elsif usuario.role.nombre == 'SuperAdmin' %>
						<h2>Bienvenido <%= usuario.role.nombre%></h2>
							<h2>Correo: <%= current_user.email%></h2>
				
								<%= render "partials/intro-log" %>
					<%end %> 
			  <%end %>      
		<%end %>
			
		
	<%else %>
		<%= render "partials/intro" %>
		
		<%= render "partials/contenedor" %>
		

<%end%>
	

	
		



