<%= form_with(model: permission_role, local: true) do |form| %>
  <% if permission_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission_role.errors.count, "error") %> prohibited this permission_role from being saved:</h2>

      <ul>
      <% permission_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :permissions_id %>
    <%= form.text_field :permissions_id %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.text_field :role_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
