<p id="notice"><%= notice %></p>

<h1>Permission Roles</h1>

<table>
  <thead>
    <tr>
      <th>Permissions</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permission_roles.each do |permission_role| %>
      <tr>
        <td><%= permission_role.permissions %></td>
        <td><%= permission_role.role %></td>
        <td><%= link_to 'Show', permission_role %></td>
        <td><%= link_to 'Edit', edit_permission_role_path(permission_role) %></td>
        <td><%= link_to 'Destroy', permission_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission Role', new_permission_role_path %>
