<p id="notice"><%= notice %></p>

<p>
  <strong>Permissions:</strong>
  <%= @permission_role.permissions %>
</p>

<p>
  <strong>Role:</strong>
  <%= @permission_role.role %>
</p>

<%= link_to 'Edit', edit_permission_role_path(@permission_role) %> |
<%= link_to 'Back', permission_roles_path %>
