<div id="container">
      <div class="row center-xs">
        <div class="col-xs-8 col-md-6">
          <div class="box text-left">
            
            <%= form_with(model: request, local: true) do |form| %>
              <% if request.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>
            
                  <ul>
                  <% request.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
            
              <div class="field">
                <%= form.label :nombre_solicitante %>
                <%= form.text_field :nombre_solicitante, class:"form-control" %>
              </div>
            
              <div class="field">
                <%= form.label :apellido_solicitante %>
                <%= form.text_field :apellido_solicitante, class:"form-control" %>
              </div>
            
              <div class="field">
                <%= form.label :email %>
                <%= form.text_field :email, class:"form-control" %>
              </div>
            
              <div class="field">
                <%= form.label :telefono %>
                <%= form.number_field :telefono, class:"form-control" %>
              </div>
            
              <div class="field">
                <%= form.label :direccion_solicitante %>
                <%= form.text_field :direccion_solicitante, class:"form-control" %>
              </div>
            
              <div class="field">
                <%= form.label :typerequest_id %>
                <%= form.text_field :typerequest_id, class:"form-control" %>
              </div>
            
              <div class="field">
                <%= form.label :detalles %>
                <%= form.text_area :detalles, class:"form-control" %>
              </div>
            
              <div class="field">
             
               <%=label_tag "documento","Adjuntar documento (Solo *.pdf, *.xlsx, *.word *.jpg)"%>
                <%= form.file_field :cover %>
             
              </div>
            
              <div class="actions">
                <%= form.submit %>
              </div>
            <% end %>
        </div>
      </div>
  </div>
</div>
