<p id="notice"><%= notice %></p>

<h1>Lista de PQR</h1>
<table class="table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Tipo de solicitud</th>
      <th>Detalles</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.nombre_solicitante %></td>
        <td><%= request.apellido_solicitante %></td>
        <td><%= request.email %></td>
        <td><%= request.telefono %></td>
        <td><%= request.direccion_solicitante %></td>
        <td><%= request.typerequest.nombre %></td>
        <td><%= request.detalles %></td>
        <td><%= link_to 'Show', request , class:"btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--%= link_to 'Nuevo PQR', new_request_path, class:"btn btn-default" %>>-->
<%= link_to 'Atras', root_path, class:"btn btn-default" %> 
