<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre solicitante:</strong>
  <%= @request.nombre_solicitante %>
</p>

<p>
  <strong>Apellido solicitante:</strong>
  <%= @request.apellido_solicitante %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @request.telefono %>
</p>

<p>
  <strong>Direccion solicitante:</strong>
  <%= @request.direccion_solicitante %>
</p>

<p>
  <strong>Typerequest:</strong>
  <%= @request.typerequest %>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @request.detalles %>
</p>

<p>
  <strong>State:</strong>
  <%= @request.state %>
</p>

<p>
  <strong>Archivo:</strong>
  <%= @request.cover %>
</p>

<%= link_to 'Editar', edit_request_path(@request),class:"btn btn-default" %> |
<%= link_to 'Atras', requests_path,class:"btn btn-default" %>
