<%= form_with(model: permission, local: true) do |form| %>
  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <div id="container">
  <div class="row center-xs">
   <div class="col-xs-8 col-md-6">
    <div class="box text-left">
      <div class="field">
        <%= form.label :tipo_permiso %>
        <%= form.text_field :tipo_permiso, class:"form-control" %>
      </div>
    
      <div class="field">
        <%= form.label :descripcion %>
        <%= form.text_field :descripcion, class:"form-control" %>
      </div>
    
      <div class="actions">
        <%= form.submit %>
      </div>
<% end %>
