<p id="notice"><%= notice %></p>

<div class= "container">
 
  <h1>Permisos</h1>
  
  <%= link_to 'Nuevo', new_permission_path, class:"btn btn-default" %> 
  <%= link_to 'Atras', root_path, class:"btn btn-default" %> 
  
  <table class="table">
    <thead>
      <tr>
        <th>Tipo permiso</th>
        <th>Descripcion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @permissions.each do |permission| %>
        <tr>
          <td><%= permission.tipo_permiso %></td>
          <td><%= permission.descripcion %></td>
          <td><%= link_to 'Show', permission %></td>
          <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
          <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  


</div>
