<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo permiso:</strong>
  <%= @permission.tipo_permiso %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @permission.descripcion %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>

