<%= form_with(model: typerequest, local: true) do |form| %>
  <% if typerequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(typerequest.errors.count, "error") %> prohibited this typerequest from being saved:</h2>

      <ul>
      <% typerequest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
