<p id="notice"><%= notice %></p>

<h1>Typerequests</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typerequests.each do |typerequest| %>
      <tr>
        <td><%= typerequest.nombre %></td>
        <td><%= typerequest.descripcion %></td>
        <td><%= link_to 'Show', typerequest %></td>
        <td><%= link_to 'Edit', edit_typerequest_path(typerequest) %></td>
        <td><%= link_to 'Destroy', typerequest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typerequest', new_typerequest_path %>
