<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @typerequest.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @typerequest.descripcion %>
</p>

<%= link_to 'Edit', edit_typerequest_path(@typerequest) %> |
<%= link_to 'Back', typerequests_path %>
