<div id="container">
      <div class="row center-xs">
        <div class="col-xs-8 col-md-6">
          <div class="box text-left">
            
              <h1>Iniciar Sesion</h1>
      
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                </div>
      
                <div class="field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
                </div>
      
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :Recordarme %>
                  </div>
                <% end -%>
      
                <div class="actions">
                  <%= f.submit "Entrar", class:"btn btn-default" %>
                </div>
              <% end %>
      
             <!--%= render "devise/shared/links" %> -->
            
          </div>
        </div>
      </div>
</div>