<%= form_with(model: role, local: true) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div id="container">
      <div class="col-xs-8 col-md-6">
        <div class="field">
          <%= form.label :nombre %>
          <%= form.text_field :nombre, class:"form-control" %>
        </div>
      
        <div class="field">
          <%= form.label :descripcion %>
          <%= form.text_area :descripcion, class:"form-control" %>
        </div>

        <div class="field">
          <%= form.label :dependencie_id %>
          <%= form.text_area :dependencie_id, class:"form-control" %>
        </div>
      
      
        <div class="actions">
          <%= form.submit %>
        </div>
    </div>
  </div>
</div>
<% end %>

