<h1>Roles</h1><br>

<%= link_to 'New Role', new_role_path, class:"btn btn-default" %>
<%= link_to 'Atras', root_path, class:"btn btn-default" %> 

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Dependencia</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.nombre %></td>
        <td><%= role.descripcion %></td>
        <td><%= role.dependencie_id%></td>
        <td><%= link_to 'Edit', edit_role_path(role), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


