<p id="notice"><%= notice %></p>

<h1>Mostrar</h1>
<br>
<div class = "container">
<table class="table table-bordered">
    <tr>
      <td>Nombre</td>
      <td><%= @role.nombre %></td>
    </tr>
    <tr>
      <td>Descripcion</td>
      <td><%= @role.descripcion %></td>
    </tr>
    <tr>
      <td>Dependencia</td>
      <td><%= @role.dependencie_id%></td>
    </tr>
</table>
</div>

<%= link_to 'Edit', edit_role_path(@role), class:"btn btn-default" %> |
<%= link_to 'Atras', roles_path, class:"btn btn-default" %>
