<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
     <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
     
     <ul>
        <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
              
    <div id="container">
      <div class="row center-xs">
        <div class="col-xs-8 col-md-6">
          <div class="box text-left">
                          
                <div class="field">
                  <%= form.label :nombre %>
                  <%= form.text_field :nombre, class:"form-control"%>
                </div>
              
                <div class="field">
                  <%= form.label :apellido %>
                  <%= form.text_field :apellido, class:"form-control"%>
                </div>
              
                <div class="field">
                  <%= form.label :telefono %>
                  <%= form.number_field :telefono, class:"form-control" %>
                </div>
              
                <div class="field">
                  <%= form.label :direccion %>
                  <%= form.text_field :direccion, class:"form-control" %>
                </div>
              
                <div class="field">
                  <%= form.label :identificacion %>
                  <%= form.text_field :identificacion, class:"form-control" %>
                </div>
              
                <div class="field">
                  <%= form.label :user_id %>
                  <%= form.text_field :user_id, class:"form-control" %>
                </div>
              
                <div class="field">
                  <%= form.label :role_id %>
                  <%= form.text_field :role_id, class:"form-control" %>
                </div>
              
                <div class="actions">
                  <%= form.submit class:"btn btn-default" %>
                </div>
              <% end %>
          </div>
      </div>
    </div>
</div>