<p id="notice"><%= notice %></p>

<h1>Lista de Usuarios</h1>
<div class = "container">
<table class="table">
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Identificacion</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.apellido %></td>
        <td><%= usuario.telefono %></td>
        <td><%= usuario.direccion %></td>
        <td><%= usuario.identificacion %></td>
        <td><%= usuario.role.nombre %></td>
        <td><%= link_to 'Show', usuario, class:"btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Nuevo Usuario', new_usuario_path, class:"btn btn-default" %>
<%= link_to 'Atras', root_path, class:"btn btn-default" %> 