<p id="notice"><%= notice %></p>

<div class = "container">
<table class="table">
    <tr>
      <td>Nombre:</td>
      <td><%= @usuario.nombre %></td> 
     </tr>

     <tr>
      <td>Apellido:</td>
      <td><%= @usuario.apellido %></td>
      </tr>
    
    <tr>
      <td>Telefono:</td>
      <td><%= @usuario.telefono %></td>
    </tr>
    
    <tr>
      <td>Direccion:</td>
      <td><%= @usuario.direccion %></td>
    </tr>
    
    <tr>
      <td>Identificacion:</td>
      <td><%= @usuario.identificacion %></td>
    </tr>
    
    
    <tr>
      <td>Rol del empleado:</td>
      <td><%= @usuario.role.nombre %></td>
    </tr>
  
    </table>
    <button class="btn btn-default"><%= link_to 'Edit', edit_usuario_path(@usuario) %></button>
    <button class="btn btn-default"><%= link_to 'Back', usuarios_path %></button>

</div>