<!DOCTYPE html>
<html>
  <%= render "partials/head" %>

  <body>
    <div id="container">
    <%= render "partials/navigation" %>
    
        <%= yield %>
      
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      </div>
  </body>
</html>
